In [1]:
import datetime as dt
import pandas as pd

from order_tools.controller import Controller, StatusController, OrderController

In [2]:
api_key = "your api_key"
api_secret = "your api_secrete"
acc_no = "your acc_no"

from private import api_key, api_secret, acc_no

controller = Controller(api_key, api_secret, acc_no)
controller.set_access_token()

In [3]:
status_controller = StatusController(controller)

In [4]:
balance_df = status_controller.load_balance()
balance_df

      cash  stock  total
0  80977.0  18800  99777

In [5]:
position_df = status_controller.load_position()
position_df

  stock_code stock_nm buying_price current_price quantity profit_pct
0     011200      HMM   18910.0000         18800        1    -0.582%

In [6]:
buying_orders = [("011200", 1), ("003650", 1), ("123920", 3)]
order_controller = OrderController(controller)

# 수준 낮은 최하급 for 문
buying_resps = list()
for buying_order in buying_orders:
    resp = order_controller.make_market_buy_order(*buying_order)
    buying_resps.append(resp)

In [7]:
_buying_resps_df = pd.DataFrame(buying_resps)
buying_resps_df = pd.concat(
    [
        _buying_resps_df["meta"].apply(pd.Series),
        _buying_resps_df.loc[:, ["msg1"]],
    ],
    axis=1,
)
buying_resps_df

  stock_code  quantity             msg1
0     011200         1  주문 전송 완료 되었습니다.
1     003650         1  주문가능금액을 초과 했습니다
2     123920         3    해당종목정보가 없습니다.

In [8]:
selling_orders = [("011200", 1), ("003650", 1), ("123920", 3)]

selling_resps = list()
for selling_order in selling_orders:
    resp = order_controller.make_market_sell_order(*selling_order)
    selling_resps.append(resp)

In [9]:
_selling_resps_df = pd.DataFrame(selling_resps)
selling_resps_df = pd.concat(
    [
        _selling_resps_df["meta"].apply(pd.Series),
        _selling_resps_df.loc[:, ["msg1"]],
    ],
    axis=1,
)
selling_resps_df

  stock_code  quantity                msg1
0     011200         1     주문 전송 완료 되었습니다.
1     003650         1  주문 가능한 수량을 초과했습니다.
2     123920         3       해당종목정보가 없습니다.